<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="first-item">
                    <div class="logo">
                        <img src="/assets/images/white-logo.png" alt="hexashop ecommerce templatemo">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h4>Liens utiles</h4>
                <ul>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('products') }}">Nos produits</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Catégories</h4>
                <ul>
                    {% for category in categories %}
                        <li><a href="{{ path('products', {categoryId: category.id}) }}">{{ category.name }}</a></li>
                    {%  endfor %}
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <ul>
                        <li><a href="https://www.facebook.com/melinda.hebert.756" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/lapanopliedemeli/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>